.vu-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--v-primary-background-2-base);
  border-radius: 5px;
  padding: 20px 10px;

  &__thead {
    margin-bottom: 25px;

    &-th {
      color: var(--v-primary-text-1-base);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__tbody {
    display: grid;
    grid-gap: 10px;

    &-td {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--v-primary-text-2-base);
    }
  }

  tr {
    display: grid;
    grid-gap: 20px;
    width: 100%;
  }
}
